.slider {
    margin: 0 auto;
    width: 0 auto;
    height: 0 auto;
}

.slides {
    width: 0 auto;
    height: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slide-first img {
    width: 1900px;
    height: 800px;
}

.slide-second img {
    width: 1900px;
    height: 800px;
}

.slide-third img {
    width: 1900px;
    height: 800px;
}






