.topBar {
    display: flex;
    justify-content: center;
    background-color: #F09C75;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.containerLogo {
    display: flex;
    justify-content: center;
}

div > ul > li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}

.navList {
    display: flex;
    justify-content: center;
}

.search, .login, .cart {
    width: 35px;
    height: 35px;
    display: inline-block;
}








