#grade {
    display: grid;

    grid-template-areas: 

    "body body header header header"
    "body body section section article"
    "footer footer section section aside";

    grid-template-rows: 500px 650px 75px;
    grid-template-columns: 10% auto 15px;

    height: 100vh;
    margin: 0;
}

.border {
    border: 1px solid black;
}

body {
    grid-area: body;
}

header {
    grid-area: header;
}

section {
    grid-area: section;
}

article {
    grid-area: article;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}



